<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Ingredients</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>

	<style>
		.bg-dark {
			background-color: rgb(32, 28, 23);
		}
	</style>

</head>

<body>

	
	<div class="container-fluid" style="margin-top: 10px">
	
	<nav class="navbar navbar-default bg-dark">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Restraunt</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="ingredient">Ingredient <span class="sr-only">(current)</span></a></li>
					<li><a href="category">Categories</a></li>
						<li><a href="recipe">Recipes</a></li>

<!--					<li class="dropdown">-->
<!--						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"-->
<!--							aria-expanded="false">Dropdown <span class="caret"></span></a>-->
<!--						<ul class="dropdown-menu">-->
<!--							<li><a href="#">Action</a></li>-->
<!--							<li><a href="#">Another action</a></li>-->
<!--							<li><a href="#">Something else here</a></li>-->
<!--							<li role="separator" class="divider"></li>-->
<!--							<li><a href="#">Separated link</a></li>-->
<!--							<li role="separator" class="divider"></li>-->
<!--							<li><a href="#">One more separated link</a></li>-->
<!--						</ul>-->
<!--					</li>-->
<!--				</ul>-->
				<form class="navbar-form navbar-left">
					<div class="form-group">
						<input type="text" class="form-control form-control-sm" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>

			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-primary">

					<div class="panel-heading">
						<h1 class="panel-title">Ingredients</h1>
					</div>
					<div class="panel-body">
						<div class="table-responsive" th:if="${not #lists.isEmpty(ingredient)}">
							<table class="table table-hover ">
								<thead class="thead-inverse">
									<tr>
										<th>ID</th>
										<th>Amount</th>
										<th>Description</th>
									</tr>
								</thead>
								<tr th:remove="all">
									<td th:text="${recipe.id}">123</td>
									<td th:text="${recipe.description}">Tasty Goodnees 1</td>
								</tr>
								<tr th:remove="all">
									<td th:text="${recipe.id}">12333</td>
									<td th:text="${recipe.description}">Tasty Goodnees 2</td>
								</tr>
								<tr th:each="ing : ${ingredient}">
									<td th:text="${ing.id}">334</td>
									<td th:text="${ing.amount}">334</td>
									<td th:text="${ing.description}">Tasty Goodnees 3</td>
									<!--                               <td th:text="${ing.recipeid}">334</td>-->
									<!--                                <td th:text="${ing.uom_id}">334</td>-->
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>